:root {
  --color-locobuzz: #185edf;
  --color-blue: #678BFF;
  --color-blue-sub: #3b71ca;
  --color-blue-light: #53B4FF;
  --color-dark-blue: #2264E3;
  --color-blue-darker: #0743b1;
  --color-white: #ffffff;
  --color-white-40: #ffffff66;
  --color-black: #000000;
  --color-black-sub: #4b4b4b;
  --color-black-light: #1A1A1A;
  --color-black-lighter: #00000033;
  --color-grey: #f5f6f8;
  --color-grey-secondary: #e8eaee;
  --color-grey-sub: #757373;
  --color-grey-shade: #4c4c4c;
  --color-grey-dark: #29446B;
  --color-grey-light: #525252;
  --color-grey-lighter: #797979;
  --color-primary: #42B549;
  --color-primary-highlight: #74A3FF;
  --color-keyword-highlight: #F0C52F;
  --color-keyword-highlight-1: rgba(255, 245, 111, 0.80);
  --color-keyword-highlight-2: #FEFF02;
  --color-background: #000000;
  --color-green: #42B549;
  --color-green-light: #5ED142;
  --color-green-dark: #1c9f00;
  --color-red-light: #ff5d48;
  --color-red: #dc1e1e;
  --color-yellow: #FFDB4D;
  --color-yellow-dark: #deaa0c;
  --color-yellow-count: #F0C52F;
  --color-widget-note: #FEF8E1;
  --color-widget-note-title: #F1B315;
  --color-widget-note-content: #FEF8E1;
  --color-chartgrid-line: #363D47;
  --bg-light-dark: #1E2E4B;
  --color-light-grey: #2e4d7b;
  --color-lightish-grey: #7A89A0;
  --color-select-grey: #C3CBD7;
  --color-dark-light-grey: #2d416f;
  --color-lighter-locobuzz: #33425d;
  --color-grey-lightest: #3F5678;


  // for font sizes 1rem = 16px
  --font-size-small: 0.8rem;
  --font-size-regular: 0.9rem;
  --font-size-large: 1rem;
  --font-size-large-xx: 1.2rem;
  --font-size-large-xxx: 1.4rem;

  // for font weight
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-large: 500;
  --font-weight-large-xx: 600;
  --font-weight-large-xxx: 800;

  // for font sizes 1rem = 16px
  --font-size-small: 0.8rem;
  --font-size-regular: 0.9rem;
  --font-size-large: 1rem;
  --font-size-large-xx: 1.2rem;
  --font-size-large-xxx: 1.4rem;

  --font-size-x-large: 1.6rem;
  --font-size-x-large-xx: 1.8rem;
  --font-size-x-large-xxx: 2rem;
  --font-size-x-large-5: 5rem;

  // for font weight
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-large: 500;
  --font-weight-large-xx: 600;
  --font-weight-large-xxx: 800;
}