:root {
  
    --primary-body-fonts: "Roboto", sans-serif;
    --secondary-body-fonts: "Roboto Slab", sans-serif;
    --Rubik-body-fonts: "Rubik", system-ui, sans-serif;
  
    --xxx-small-size: 0px;
  
    --x-small-fonts-Size: 12px;
    --regular-fonts-Size: 14px;
    --x-large-fonts-size: 16px;
    --xx-large-fonts-size: 18px;
    --xx-secondaryLarge-fonts-size: 21px;
    --xx-thirdLarge-fonts-size: 20px;
    --xxx-large-fonts-size: 24px;
    --Larger-fonts-size: 1.9rem;
  
    --x-small-fonts-weight: 300;
    --regular-fonts-weight: 400;
    --x-large-fonts-weight: 500;
    --xx-large-fonts-weight: 600;
    --xxx-large-fonts-weight: 800;
    --xxxx-large-fonts-weight: 900;
  
    --regular-line-height: 1.5;
  
    --primary-color: #3b5175;
    --secondary-light-color: #7a89a0;
    --secondary-color: #7a89a0;
    --secondary-dark-color: #5e708d;
    --Error-red-color: #f24040;
    --blue-color: #185edf;
    --white-color: #fff;
    --globle-light-gray-color: #f5f6f8;
  
    --bgColor-Light-gray: #f5f6f8;
    --bgColor-dark-gray: #232f34;
    --bgColor-dark-blue: #185edf;
    --bgColor-light-blue: #185edf1a;
    --placeholder-color: #869dad;
    --Table-thBg-color: #e8eaee;
    --Table-tdBg-color: #f5f6f8;
  
    --primary-border-color: #d9e5ed;
    --border-dark-blue: #185edf;
    --PreDate-border-color: #deaa0c;
    --CrisisDate-border-color: #ff5d48;
    --PostDate-border-color: #ff9123;
  
    --primary-display-block: block;
    --primary-display-inlineblock: inline-block;
    --primary-display-flex: flex;
    --primary-display-inlineflex: inline-flex;
  
    --primary-border-radius: 4px;
  
    --color-night-mode: #0b1f40;
    --color-dark-locobuzz: #c3cbd7;
    --color-light-locobuzz: #1b2f50;
    --color-lighter-locobuzz: #33425d;
    --color-grey: #f5f6f8;
    --color-dark-grey: #c3cbd7;
    --border-dark-grey: #3b5175;
  }